<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{error}}
<form action="/users/register" method="post">
    Tên đăng nhập
    <input name="name" placeholder="Nhập tên đăng nhập" > <br>
    Nhập mật khẩu
    <input name="password" placeholder="Nhập mật khẩu"><br>
    Nhập lại mật khẩu
    <input name="repeat_password" placeholder="Nhập lại mật khẩu"> <br>
    Nhập email
    <input name="email" placeholder="Nhập email"> <br>
    <button type="submit" > Đăng ký </button>
</form>
</body>
<!--<script></script>-->
</html>