<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form enctype="multipart/form-data" method="POST">
    {{#if message }}
        <h1>
            Lỗi là: {{ message }}
        </h1>
    {{/if}}

    Tên sản phẩm
    <input name="name"> <br>

    Ảnh sản phẩm
    <input type="file" class="admin__input" id="myFile" name="myFile" />
    <button class="admin__submit" type="submit" > Lưu lại nhóm sản phẩm </button>
</form>
</body>
</html>